$font-family:'Segoe UI',Helvetica,Arial,sans-serif;
$bg-color: #24292e;
$primary-color: #0366d6;
$secondary-color: hsla(0,0%,100%,.125);
$bg-color-light: #f6f8fa;
$bg-color-md: #d4d4d4;

$bor-rad: 3px;